<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:include="/includes/_header"></div>

<main>
    <div class="container mt-5">
        <h2 class="text-center mb-3">Login</h2>
        <div class="row">
            <form class="col-6 offset-3"
                  action="/login" method="post" th:object="${formLogin}"
            >
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="login">Login</label>
                    <input type="text" id="login" class="form-control" th:field="${member.login}" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control" th:field="${member.password}" />
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
            </form>
        </div>
    </div>
</main>

<div th:include="/includes/_footer"></div>
</html>