<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:include="/includes/_header"></div>

<main>
    <div class="container mt-4">
        <h2 class="text-center" th:text="${movie.title}"></h2>

        <div class="d-flex mt-4">
            <div>
                <img src="https://picsum.photos/300/450" alt="Film poster">
            </div>
            <div class="ms-3">
                <p class="fw-light" th:text="${'Year : ' + movie.year}"></p>
                <p th:text="${'Genre : ' + movie.genre.label}"></p>
                <p th:text="${'Director : ' + movie.director.lastName + ' ' + movie.director.firstName}"></p>
                <p th:text="${'Duration : ' + movie.duration}"></p>
                <p th:text="${'Synopsis : ' + movie.synopsis}"></p>
                <div>
                    <h6>Actors</h6>
                    <div class="d-flex gap-3">
                        <div th:each="actor : ${movie.actors}" class="card" style="width: 10rem;">
                            <img src="https://picsum.photos/100/100" class="card-img-top" alt="random image">
                            <div class="card-body">
                                <p class="card-title text-wrap" th:text="${actor.lastName + ' ' + actor.firstName}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Zone Opinion -->
        <section class="mt-4">
            <h2 class="text-center">Opinions</h2>
            <!-- Formulaire add review -->
            <div class="mt-4 row">
                <form
                    class="col-6 offset-3"
                    th:action="@{'/add-new-opinion/'+ ${movie.id}}"
                    method="post"
                    th:object="${opinion}"
                >

                    <div class="mb-3 row">
                        <label for="rating" class="form-label col-sm-2 col-form-label">Rating</label>
                        <div class="col-sm-10">
                            <input
                                type="number"
                                min="0"
                                max="5"
                                class="form-control"
                                id="rating"
                                th:field="${opinion.note}"
                                required
                            >
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="comment" class="form-label col-sm-2 col-form-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea
                                class="form-control"
                                id="comment"
                                rows="3"
                                th:field="${opinion.comment}"
                            >
                            </textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Save</button>
                </form>
            </div>

            <hr>

            <div>
                <div th:each="opinion : ${movie.opinions}">
                    <div  class="d-flex gap-2">
                        <h5>Author</h5>
                        <p th:text="${opinion.note + '/5'}"></p>
                    </div>
                    <p th:text="${opinion.comment}"></p>
                </div>
            </div>
        </section>

    </div>
</main>

<div th:include="/includes/_footer"></div>
</html>