<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:include="/includes/_header"></div>

<main>
  <div class="container">
    <div class="d-flex gap-4 my-5 justify-content-center flex-wrap">
      <div th:each="movie : ${movies}">
        <div class="card" style="width: 18rem;">
          <img src="https://placehold.co/150x100" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" th:text="${movie.title}"></h5>
            <p class="card-text" th:text="${movie.year}"></p>
<!--            th:if temporaire-->
            <p th:if="${movie.director}" class="card-text" th:text="${movie.director.firstName + ' ' + movie.director.lastName}"></p>
            <p th:if="${movie.genre}" class="card-text" th:text="${movie.genre.label}"></p>
            <a th:href="@{'/details/' + ${movie.id}}" class="btn btn-dark">Details</a>
            <a th:href="@{'/add-opinion/' + ${movie.id}}" class="btn btn-outline-dark">Opinion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div th:include="/includes/_footer"></div>
</html>