<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:include="/includes/_header"></div>

<main>
    <div class="container text-center mt-4">
        <h2>Add a movie</h2>

        <div class="mt-4 row">
            <form
                    class="col-6 offset-3"
                    action="/add-movie"
                    method="post"
                    th:object="${movie}"
            >
                <!-- Affichage erreur -->
                <div th:if="${errors != null && errors.size() > 0}" class="alert alert-danger" role="alert">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>
                <!-- End Affichage erreur -->
                <div class="mb-3 row">
                    <label for="title" class="form-label col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                th:field="${movie.title}"
                                placeholder="Title"
                                required
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="year" class="form-label col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                        <input
                                type="number"
                                min="1900"
                                class="form-control"
                                id="year"
                                th:field="${movie.year}"
                                placeholder="Year"
                                required
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="director" class="form-label col-sm-2 col-form-label">Director</label>
                    <div class="col-sm-10">
                        <select id="director" class="form-select" aria-label="Select genres"
                                th:field="${movie.director}"
                        >
                            <option th:each="director : ${participantsOptions}" th:value="${director.id}"
                                    th:text="${director.lastName + ' ' + director.firstName}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="duration" class="form-label col-sm-2 col-form-label">Duration</label>
                    <div class="col-sm-10">
                        <input
                                type="number"
                                class="form-control"
                                id="duration"
                                th:field="${movie.duration}"
                                placeholder="Duration"
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="genre" class="form-label col-sm-2 col-form-label">Genre</label>
                    <div class="col-sm-10">
                        <select id="genre" class="form-select" aria-label="Select genres"
                                th:field="${movie.genre}"
                        >
                            <option th:each="genre : ${genresOptions}" th:value="${genre.id}" th:text="${genre.label}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="synopsis" class="form-label col-sm-2 col-form-label">Synopsis</label>
                    <div class="col-sm-10">
                        <textarea
                                class="form-control"
                                id="synopsis"
                                rows="3"
                                th:field="${movie.synopsis}"
                        >
                        </textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="actors" class="form-label col-sm-2 col-form-label">Actors</label>
                    <div class="col-sm-10">
                        <select id="actors" class="form-select" aria-label="Select genres" multiple
                                th:field="${movie.actors}"
                        >
                            <option th:each="actor : ${participantsOptions}" th:value="${actor.id}"
                                    th:text="${actor.lastName + ' ' + actor.firstName}"></option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Save</button>
            </form>
        </div>

    </div>
</main>

<div th:include="/includes/_footer"></div>
</html>